@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://webfontworld.github.io/score/SCoreDream.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

*{
    font-family: 'IBM Plex Sans KR', 'Spoqa Han Sans Neo', Sans-serif;
}
/*h1 {*/
/*	font-family : 'Hanna';*/
/*}*/
.carousel-inner > .carousel-item > img {
      top: 0;
      left: 0;
      width: 1200px;
      height: 100%;
 }

html, body {
    height: 100%
}

#wrap {
    min-width: 1340px;
    min-height: 100%;
    padding-bottom: 70px;
}

body {
    background-color: var(--light);
}

#container {
    min-height: 100vh;
    padding-bottom: 70px;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.header-navbar {
    display: block;
    background: #f8f8f8;
    box-shadow: 1px 1px 40px 15px #dadce0;
}

.footer {
    position: relative;
    bottom: 0px;
    /*margin-top: 5rem;*/
    min-height: 70px;
    text-align: center;
    padding: 15px 0;
    background-color: #e2e2e2;
    font-size: 12px;
    color: #746c6c;
}

::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
